name: linter

on:
  push:
    paths:
      - '**.php'
      - '.github/workflows/lint.yml'
  pull_request:
    paths:
      - '**.php'
      - '.github/workflows/lint.yml'

permissions:
  contents: write

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Run Pint
        run: vendor/bin/pint

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Fix code style
          commit_options: '--no-verify'
